<div class="modal" id="easteregg" style="display: none">
    <div id="easteregg-content">
        <h2>You found me!</h2>
        <hr class="divider">
        <div class="container" style="text-align: left;">
            <h3>I'm an easteregg.</h3>
            <p>
                Did you know this site has been through 2 redesigns so far?
                Re-enter the Konami code or click close to close this!
            </p>
            <br>
            <p2>
                Did you also know that the first redesign was because... my site looked like <a href="https://older.xilog.xyz">this?</a> Enjoy!
                The first redesign is pretty bad as well and is hosted over at <a href="https://old.xilog.xyz">old.xilog.xyz</a>
            </p2>
            <br>
            <button id="close">Close</button>
        </div>
    </div>
</div>