{% include nav.html %}
<div class="hero" id="top">
    <div class="text">
        <h1 id="header">{{ page.title }}</h1>
        <h3>{{ page.description }}</h3>
        {% if page.buttons.primary != null %}
            <a class="btn btn-light" href="{{ page.buttons.primary.href }}">{{ page.buttons.primary.name }}</a>
        {% endif %}
    </div>

    <div class="container">
        <img src="{{ site.baseurl }}/img/laptop.svg" alt="Laptop" class="laptop">
        <img src="{{ site.baseurl }}/img/lock.svg" alt="Lock icon" class="icon" id="lock">
        <img src="{{ site.baseurl }}/img/mail.svg" alt="Speed icon" class="icon" id="mail">
        <img src="{{ site.baseurl }}/img/free.svg" alt="Free icon" class="icon" id="free">
    </div>
</div>
